body {
    font-family: Arial, sans-serif; /* Yazı tipi ailesi */
    font-size: 11px; /* <p></p> etiketindeki ana yazının boyutu */
    background-color: #5988FF; /* Web sayfasının arka plan rengi */
    color:  #FFFFFF 0; /* Metin rengi */
}

h1 {
    color: #D6FF6B; /* Başlık rengi */
    font-size: 24px; /* Başlık yazı tipi boyutu */
    font-family: Georgia, serif; /* Başlıkta kullanılan yazı tipi ailesi */
}

h2 {
    color: #FD98FB; /* Başlık rengi */
}